/* for desktop */
@media only screen and (min-width: 768px) {
	body {
		background: #ebc7c7;
		background: -webkit-linear-gradient(top left, #ebc7c7, #43446a);
		background: -moz-linear-gradient(top left, #ebc7c7, #43446a);
		background: linear-gradient(to bottom right, #ebc7c7, #43446a);
	}
	#container {
		border: 1px solid black;
		width: 40vw;
		height: 80vh;
		position: relative;
		left: 370px;
	}

	#one {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #dbb269;
		background: -webkit-linear-gradient(top left, #dbb269, #0e59cc);
		background: -moz-linear-gradient(top left, #dbb269, #0e59cc);
		background: linear-gradient(to bottom right, #dbb269, #0e59cc);
		/* display: none; */
		display: block;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#two {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #cdfe7b;
		background: -webkit-linear-gradient(bottom, #cdfe7b, #7d275d);
		background: -moz-linear-gradient(bottom, #cdfe7b, #7d275d);
		background: linear-gradient(to top, #cdfe7b, #7d275d);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#three {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #8473bd;
		background: -webkit-linear-gradient(bottom, #8473bd, #5b1214);
		background: -moz-linear-gradient(bottom, #8473bd, #5b1214);
		background: linear-gradient(to top, #8473bd, #5b1214);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#four {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #ca7e09;
		background: -webkit-linear-gradient(right, #ca7e09, #c92ada);
		background: -moz-linear-gradient(right, #ca7e09, #c92ada);
		background: linear-gradient(to left, #ca7e09, #c92ada);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#five {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #47a297;
		background: -webkit-linear-gradient(right, #47a297, #d1ddee);
		background: -moz-linear-gradient(right, #47a297, #d1ddee);
		background: linear-gradient(to left, #47a297, #d1ddee);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}

	#arrows {
		height: 10vh;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	.arrowButtons {
		width: 5em;
		cursor: pointer;
		border-radius: 0 3px 3px 0;
		user-select: none;
		color: black;
		border: 5x solid grey;
	}
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}
}
/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa */
/* for mobile */
@media only screen and (max-width: 600px) {
	body {
		background: #ebc7c7;
		background: -webkit-linear-gradient(top left, #ebc7c7, #43446a);
		background: -moz-linear-gradient(top left, #ebc7c7, #43446a);
		background: linear-gradient(to bottom right, #ebc7c7, #43446a);
	}
	#container {
		border: 1px solid black;
		width: 80vw;
		height: 80vh;
		position: relative;
		left: 40px;
	}

	#one {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #dbb269;
		background: -webkit-linear-gradient(top left, #dbb269, #0e59cc);
		background: -moz-linear-gradient(top left, #dbb269, #0e59cc);
		background: linear-gradient(to bottom right, #dbb269, #0e59cc);
		/* display: none; */
		display: block;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#two {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #cdfe7b;
		background: -webkit-linear-gradient(bottom, #cdfe7b, #7d275d);
		background: -moz-linear-gradient(bottom, #cdfe7b, #7d275d);
		background: linear-gradient(to top, #cdfe7b, #7d275d);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#three {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #8473bd;
		background: -webkit-linear-gradient(bottom, #8473bd, #5b1214);
		background: -moz-linear-gradient(bottom, #8473bd, #5b1214);
		background: linear-gradient(to top, #8473bd, #5b1214);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#four {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #ca7e09;
		background: -webkit-linear-gradient(right, #ca7e09, #c92ada);
		background: -moz-linear-gradient(right, #ca7e09, #c92ada);
		background: linear-gradient(to left, #ca7e09, #c92ada);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}
	#five {
		width: 100%;
		height: 100%;
		/* background: url("/TOP/Apple-page/images/3.jpg"); */
		background: #47a297;
		background: -webkit-linear-gradient(right, #47a297, #d1ddee);
		background: -moz-linear-gradient(right, #47a297, #d1ddee);
		background: linear-gradient(to left, #47a297, #d1ddee);
		display: none;
		color: white;
		font-size: 100px;
		text-align: center;
	}

	#arrows {
		height: 10vh;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	.arrowButtons {
		width: 5em;
		cursor: pointer;
		border-radius: 0 3px 3px 0;
		user-select: none;
		color: black;
		border: 5x solid grey;
	}
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		transition: background-color 0.6s ease;
		bottom: 40px;
		right: 20px;
	}
}
